<html>
<head>
	<title>Password Reset</title>
	<meta charset="utf-8" />
</head>
	
<body>
	<br>	
	<ul>
		<h1>Edit Profile</h1>
	</ul>

	<div class="row">
			<ul>
				<li>
					<img src= "{% url 'photo' user_id %}" alt="Profile">
					<div>
						<h2>{{ user_name }}</h2>
					</div>
				</li>
				<li>
					<form action="{% url 'password_reset' user_id %}" method="POST">
						{% for field in passwordReset_form.visible_fields %}
							{{ field.label_tag }} <br>
							{{ field }} {{ field.errors }}<br>
						{% endfor %}
						<input type='submit'>
						{% csrf_token %}
					</form>
				</li>
			</ul>
	</div>
	<div>
	{% for message in messages %}
	{{ message }}
	{% endfor %}
	</div>
</body>
</html>